# Prevent direct access to uploaded files
<Files "*">
    Order Deny,Allow
    Deny from all
</Files>

# Allow images to be viewed
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>